NODE_ENV=production
MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=1d
CLIENT_URL=https://YOUR-FRONTEND.vercel.app

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM="Scroller <your-email@gmail.com>"

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
